html,body{
	height: 100%;
	
}

footer{
	background-color: #222;
	padding: 2em 0.5em;
	margin-top: 2em;
	position: relative;
	width: 100%;
	bottom: 0;
	color: #ccc;
}

.bs-callout-warning {
    border-left-color: #aa6708 !important;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}